# Ignore all folders named 'output'
output/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore log files
*.log

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore environment files
.env
venv