# Ignore all folders named 'output'
output/

# Ignore all folders named 'test'
test/

# Ignore all folders named 'output'
output_netlist/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore log files
*.log

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore environment files
.env
.venv
venv/
venv/*
output/
